{% extends 'base.html' %}
{% block body %}
{% if request.user.is_active  %}
<br>
<br>
<div class="container-fluid ">
    <div class="col-sm-4 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">

                <h1>{{ customer.name }} </h1>
                <h2><p>{{ customer.mobile|linebreaks}}</p></h2>
            </div>
        </div>
     </div>
     <div class="col-sm-8 col-md-9">
    <ul class="nav nav-pills" style="margin-bottom: 20px;">
        <li role="presentation" class="active"><a href="{% url 'webapp:customer_list' %}">View All</a></li>
        <li role="presentation" style="left:10px"><a align="right" class="btn btn-default" href="{% url 'webapp:customer_edit' customer.id %}"  >Edit</a></li>
    </ul>
</div>
</div>

{% else  %}
<h2>
    <span class="label label-warning">
        <strong>Warning! </strong>You don't have permission to view this information
    </span>
</h2>
{% endif %}
{% endblock  %}
